.button-search-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .button-search-right{
        display: flex;
        flex-direction: row;
    }
}
.senior-search-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}